<html>
    <head>
        <title>article</title>
        <link rel="stylesheet" href="../src/style.css">
    </head>
    <body>
        <h1 class="bg-amber-500 text-gray-800">article</h1>
        
        <% if (articles.length > 0) { %>
            <ul>
                <% articles.forEach((article,index) => { %>
                    <li>
                        <a href="article/show/<%= article.id %>">show this ....</a>
                        <a href="article/edit/<%= article.id %>">eidt this ....</a>
                        <form action="article/delete/<%= article.id %>?_method=DELETE" method="post">
                            <input type="hidden" name="old_image" value="<%= article.image %>">
                            <button type="submit" name="delete">delete this ....</button>
                        </form>
                        <img src="/images/<%= article.image %>" width="200px" alt="" />
                        <h2><%= article.title %></h2>
                        <p><%= article.content %></p>
                        <p><%= article.user_id %></p>
                    </li>
                <% }); %>
            </ul>
        <% } 
        else { %>
            <p>No articles found.</p>
        <% } %>
    </body>
</html>