<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">N°</th>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Image</th>
        <th scope="col" class="px-6 py-3">Created_at</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
      </tr>
    </thead>
    <tbody>
        <% if (articles.length > 0) { %>
            <% articles.forEach((article,index) => { %>
                <tr
                    class="bg-white border-b dark:bg-gray-200 dark:border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                    <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                    <%= index+1 %>
                    </th>
                    <td class="px-6 py-4"><%= article.title %></td>
                    <td class="px-6 py-4"><%= article.image %></td>
                    <td class="px-6 py-4"><%= article.created_at %></td>
                    <td class="px-6 py-4 text-right">
                    <a
                        href="/article/edit/<%= article.id %>"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        >Edit</a
                    >
                    </td>
                    <td class="px-6 py-4 text-right">
                        <form
                            action="/article/delete/<%= article.id %>?_method=DELETE"
                            method="POST"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                            >
                            <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</button>
                        </form>
                        </td>
                </tr>
            <% }); %>
        <% } else { %>
            <p>No articles found.</p>
        <% } %>
    </tbody>
  </table>
</div>
